body{
    background: linear-gradient(128deg,rgba(42, 7, 53, 0.467),rgba(214, 205, 216, 0.2));
}
.heading{
    text-decoration: underline ;
}
.col
{
    border: 0.5em;
    border-radius: 1%;
    border-color:solid black;    
}
.row{
    border: solid black;
    border-width: 1px;
    border-radius: 2em;
    background: rgb(231, 227, 232);
}
.discription-text{
    font-family:cursive,fantasy,serif;
    font-size: large;
    transition: all 0.3s ease;
}
.image-column-right{
    margin-left: 10em;
    text-align: center;
    margin-top: 1em;
}
.image-column-left{
    margin-left: 1em;
    text-align: center;
    margin-top: 1em;
}
.image-column-left:hover{
    transform: scale(1.2);
    opacity: 0.8;
    transition: all 1.5s ease;
}
.image-column-right:hover{
    transform: scale(1.2);
    opacity: 0.8;
    transition: all 1.5s ease;
}
.buynow{
    margin-left: 2rem; 
    border-radius: 1em;
    background-color: rgb(62, 8, 67);
    color: white;
    border-color:rgb(165, 117, 211);
    font-weight: 600;
}
.buynow:hover{
    background-color: rgb(145, 108, 179);
    color: black;
    font-weight: 700;
}





.footer{
   background-color: rgb(47, 17, 75);
    color:aliceblue
}
.heading-footer{
text-align: center;

}