.navbar{
    margin: 0.5rem;
    border-radius: 0.5em;
    background: #000;
    color: white;
}
.navbar-brand{
    color: whitesmoke;
}
.brand-logo{
    height: 2em;
    width: 4em;
}
.nav-link{
    color: antiquewhite;
}
.nav-item{
color: rgb(146, 217, 217);
padding:  0 1em 0 1em;
text-align: center;
}
.nav-item:hover{
    background: white;
    color: black;
}
.crousel-item{
    margin-top: 1em;
}
.d-block{
    border-radius: 00.5em;
    height: 32em;
}
.carousel-caption{
    color: #000;
}
.card{
    text-align: center;
display: inline-block;
margin: 2em 2em 2em 3em;
}
.card:hover{
background: rgb(161, 196, 112);
cursor:pointer;
}
.card-img-top{
    margin-top: 1em;
    height: 10em;
    width: 14em;
    text-align: center;
}
.card-style{
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 1em;
    padding-bottom: 1rem;
    text-align: center;
    background-color:rgb(230, 232, 169) ;
    border-radius: 1em;
}
.card.card-body{
margin: auto;
}
.card-style :hover{
   color: purple;
   text-transform: capitalize;
  text-rendering: geometricPrecision;
}
.top-title{
    margin: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titlebtn{
    margin-left:90% ;  
}
.best{
    border-radius: 1em;
    width: 10em;
}

.image-link{
    margin-top: none;
    padding-top: none;
    height:40em;
    width: 50em;
    position: relative;
}
.links{
    margin-left: 3em;
    display:inline-block;
    margin-left: 13em;
}
.Category{
    margin-left: 2em;
    display: inline-block;
}
