.navbar{
    margin: 1rem;
    border-radius: 0.5em;
    background: #000;
    color: white;
}
.navbar-brand{
    color: whitesmoke;
    
}
.brand-logo{
    height: 3em;
    width: 5em;
}

.nav-link{
    color: antiquewhite;
}
.nav-item{
/* background: rgb(197, 107, 107); */
color: rgb(146, 217, 217);
padding:  0 1em 0 1em;
text-align: center;
}
.nav-item:hover{
    background: white;
    color: black;
}
.crousel-item{
    margin-top: 1em;
}
.d-block{
    border-radius: 00.5em;
    height: 32em;
}
.carousel-caption{
    color: #000;
}
